{{#if schema.title}}# {{ schema.title }}{{else if schema.description}}# {{ schema.description }}{{else}}# {{/if}}

{{#if schema.title}}{{#if schema.description}}<p>{{ schema.description }}</p>{{/if}}{{/if}}

{{#if schema.id}}<p>{{ schema.id }}</p>{{/if}}
{{#if schema.$id}}<p>{{ schema.$id }}</p>{{/if}}


## Properties

{{attributesTable schema }}

{{#if example}}
## Example
```
{{{json example.data}}}
```
{{/if}}

{{#if schema.examples}}
{{#each schema.examples}}
## Example
```
{{{json this}}}
```
{{/each}}
{{/if}}

<hr />

{{#each schema.properties}}

{{> property propertyKey=@key }}

{{/each}}




{{#*inline "property"}}

{{#if (isDefined parentKey)}}
  ### {{ parentKey }}.{{ propertyKey }}
{{else}}
  ## {{ propertyKey }}
{{/if}}

{{#if (isExternalRef this.$ref)}}
  <p>Defined in {{{ refToLink this.$ref this.$ref }}}</p>
{{/if}}


{{#if this.description}}<p>{{ this.description }}</p>{{/if}}

{{> propertyTable}}

{{#unless (isDefined parentKey)}}
  {{#if this.properties}}
  ### Properties
  {{attributesTable this propertyKey }}
  {{/if}}
{{/unless}}

{{#unless (isExternalRef this.$ref)}}
{{#if this.properties}}
{{#each this.properties}}
{{> property parentKey=../propertyKey propertyKey=@key }}
{{/each}}
{{/if}}
{{/unless}}

{{/inline}}


{{#*inline "propertyTable"}}
<table>
  <thead>
    <tr>
      <th>Property</th>
      <th colspan="2">Value</th>
    </tr>
  </thead>
  <tbody>
    {{#if this.title}}
    <tr>
      <td>Title</td>
      <td colspan="2">{{ this.title }}</td>
    </tr>
    {{/if}}
    {{#if (isDefined this.isRequired)}}
    <tr>
      <td>Required</td>
      <td colspan="2">{{#if this.isRequired}}Yes{{else}}No{{/if}}</td>
    </tr>
    {{/if}}
    {{propertyTypeRow this }}
    {{#if this.const}}<tr>
      <td>Const</td>
      <td colspan="2">{{this.const}}</td>
    </tr>{{/if}}
    {{#if this.enum}}<tr>
      <td>Enum</td>
      <td colspan="2">{{enumValues this.enum}}</td>
    </tr>{{/if}}{{#if this.minLength}}<tr>
      <td>Min Length</td>
      <td colspan="2">{{this.minLength}}</td>
    </tr>{{/if}}{{#if this.maxLength}}<tr>
      <td>Max Length</td>
      <td colspan="2">{{this.maxLength}}</td>
    </tr>{{/if}}{{#if this.format}}<tr>
      <td>Format</td>
      <td colspan="2">{{this.format}}</td>
    </tr>{{/if}}{{#if this.pattern}}<tr>
      <td>Pattern</td>
      <td colspan="2">{{this.pattern}}</td>
    </tr>{{/if}}
    {{!-- {{#if (isArrayOfStringLikeValues this.examples) }}<tr>
      <td>Examples</td>
      <td colspan="2"><ul>{{#each this.examples}}<li>{{ this }}</li>{{/each}}</ul></td>
    </tr>{{/if}} --}}
  </tbody>
</table>
{{/inline}}