{{#if schema.title}}# {{ schema.title }}{{else if schema.description}}# {{ schema.description }}{{else}}# {{/if}}

{{#if schema.title}}{{#if schema.description}}<p>{{ schema.description }}</p>{{/if}}{{/if}}

<table>
<tbody>
{{#if schema.$id}}<tr><th>$id</th><td>{{ schema.$id }}</td></tr>{{/if}}
{{#if schema.$schema}}<tr><th>$schema</th><td>{{ schema.$schema }}</td></tr>{{/if}}
</tbody>
</table>

## Properties

{{attributesTable schema }}

{{#if example}}
## Example
```
{{{json example.data}}}
```
{{/if}}

{{#if schema.examples}}
{{#each schema.examples}}
## Example
```
{{{json this}}}
```
{{/each}}
{{/if}}

<hr />

{{#each schema.properties}}

{{> property propertyKey=@key }}

{{/each}}




{{#*inline "property"}}

{{#if (isDefined parentKey)}}
### {{ parentKey }}.{{ propertyKey }}
{{else}}
## {{ propertyKey }}
{{/if}}

{{#if (isExternalRef this.$ref)}}
  <p>Defined in {{{ refToLink this.$ref this.$ref }}}</p>
{{/if}}

{{> propertyTable}}

{{#unless (isDefined parentKey)}}
  {{#if this.properties}}
### Properties
  {{attributesTable this propertyKey }}
  {{/if}}
{{/unless}}

{{#unless (isExternalRef this.$ref)}}
{{#if this.properties}}
{{#each this.properties}}
{{#if (isDefined ../parentKey)}}
{{> property parentKey=(concat ../parentKey '.' ../propertyKey) propertyKey=@key }}
{{else}}
{{> property parentKey=../propertyKey propertyKey=@key }}
{{/if}}
{{/each}}
{{/if}}
{{#if this.items }}
{{#each this.items.properties}}
{{#if (isDefined ../parentKey)}}
{{> property parentKey=(concat ../parentKey '.' ../propertyKey) propertyKey=@key }}
{{else}}
{{> property parentKey=../propertyKey propertyKey=@key }}
{{/if}}
{{/each}}
{{/if}}
{{#if this.oneOf }}
{{#each this.oneOf}}
{{#if (isDefined ../parentKey)}}
{{> property parentKey=(concat ../parentKey '.' ../propertyKey) propertyKey=@key }}
{{else}}
{{> property parentKey=../propertyKey propertyKey=@key }}
{{/if}}
{{/each}}
{{/if}}
{{/unless}}

{{/inline}}

## Schema
```
{{{json schema}}}
```


{{#*inline "propertyTable"}}
<table>
  {{!-- <thead>
    <tr>
      <th>Attribute</th>
      <th colspan="2">Value</th>
    </tr>
  </thead> --}}
  <tbody>
    {{#if this.$id}}
    <tr>
      <th>$id</th>
      <td colspan="2">{{ this.$id }}</td>
    </tr>
    {{/if}}
    {{#if this.title}}
    <tr>
      <th>Title</th>
      <td colspan="2">{{ this.title }}</td>
    </tr>
    {{/if}}
    {{#if this.description}}
    <tr>
      <th>Description</th>
      <td colspan="2">{{ this.description }}</td>
    </tr>
    {{/if}}
    {{#if (isDefined this.isRequired)}}
    <tr>
      <th>Required</th>
      <td colspan="2">{{#if this.isRequired}}Yes{{else}}No{{/if}}</td>
    </tr>
    {{/if}}
    {{propertyTypeRow this }}
    {{#if this.const}}<tr>
      <th>Const</th>
      <td colspan="2">{{this.const}}</td>
    </tr>{{/if}}{{#if this.enum}}<tr>
      <th>Enum</th>
      <td colspan="2">{{#if this.meta:enum}}<dl>{{#each this.meta:enum}}<dt>{{@key}}</dt><dd>{{this}}</dd>{{/each}}</dl>{{else}}{{enumValues this.enum}}{{/if}}</td>
    </tr>{{/if}}{{#if this.minLength}}<tr>
      <th>Min Length</th>
      <td colspan="2">{{this.minLength}}</td>
    </tr>{{/if}}{{#if this.maxLength}}<tr>
      <th>Max Length</th>
      <td colspan="2">{{this.maxLength}}</td>
    </tr>{{/if}}{{#if this.minimum}}<tr>
      <th>Minimum</th>
      <td colspan="2">{{this.minimum}}</td>
    </tr>{{/if}}{{#if this.exclusiveMinimum}}<tr>
      <th>Exclusive Minimum</th>
      <td colspan="2">{{this.exclusiveMinimum}}</td>
    </tr>{{/if}}{{#if this.maximum}}<tr>
      <th>Maximum</th>
      <td colspan="2">{{this.maximum}}</td>
    </tr>{{/if}}{{#if this.exclusiveMaximum}}<tr>
      <th>Exclusive Maximum</th>
      <td colspan="2">{{this.exclusiveMaximum}}</td>
    </tr>{{/if}}{{#if this.multipleOf}}<tr>
      <th>Multiple Of</th>
      <td colspan="2">{{this.multipleOf}}</td>
    </tr>{{/if}}{{#if this.format}}<tr>
      <th>Format</th>
      <td colspan="2">{{this.format}}</td>
    </tr>{{/if}}{{#if this.pattern}}<tr>
      <th>Pattern</th>
      <td colspan="2">{{this.pattern}}</td>
    </tr>{{/if}}
  </tbody>
</table>
{{/inline}}
